/* body{
    height: 5000px;
}
 body::-webkit-scrollbar{
    background-image: -webkit-linear-gradient(red, green, blue);
}
body::-webkit-scrollbar-thumb{
    background-color: skyblue;
} 

body::-webkit-scrollbar{
    background-color: rgb(37, 37, 44);
}
body::-webkit-scrollbar-thumb{
    background-color: lightgray;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(102, 99, 99);
}
body::-webkit-scrollbar-button{
    background-color: red;
} 
body::-webkit-scrollbar-corner{
    background-color: green;
}
body::-webkit-scrollbar-track{
    background-color: yellow;
}
body::-webkit-slider-thumb{
    background-color: lawngreen;
}
body::-webkit-scrollbar-track-piece{
    background-color: tomato;
}
#brightness_slider::-webkit-slider-runnable-track{
    background-color: green;
    border-radius: 20px;
    height: 25px;
    -webkit-appearance: none;

}

#brightness_slider::-webkit-slider-thumb{
    background-color: lawngreen;
    width: 25px;
    height: 25px;
    -webkit-appearance: none;
} */









/*  

-webkit-box-align stretch
-webkit-box-decoration-break slice
-webkit-box-direction normal
-webkit-box-flex 0
-webkit-box-ordinal-group 1
-webkit-box-orient horizontal
-webkit-box-pack start
-webkit-box-reflect none
-webkit-line-clamp none
-webkit-mask-box-image-outset 0
-webkit-mask-box-image-repeat stretch
-webkit-mask-box-image-slice 0 fill
-webkit-mask-box-image-source none
-webkit-mask-box-image-width auto
-webkit-mask-position-x 0%
-webkit-mask-position-y 0%
-webkit-perspective-origin-x
-webkit-perspective-origin-y
-webkit-print-color-adjust economy
-webkit-rtl-ordering logical
-webkit-ruby-position before
-webkit-tap-highlight-color rgba(0, 0, 0, 0.18)
-webkit-text-combine none
-webkit-text-decorations-in-effect none
-webkit-text-fill-color rgb(0, 0, 0)
-webkit-text-security none
-webkit-text-stroke-color rgb(0, 0, 0)
-webkit-text-stroke-width 0px
-webkit-transform-origin-x
-webkit-transform-origin-y
-webkit-transform-origin-z
-webkit-user-drag auto
-webkit-user-modify read-only
*/